<h1>Create course</h1>
<app-text-field [(value)]="school">
  <div class="title">School</div>
  <input tfInput>
</app-text-field>
<app-text-field [(value)]="courseID">
<div type="text" class="title">Course ID</div>
<input tfInput>
</app-text-field>
<app-text-field [(value)]="term">
  <div class="title">Term</div>
  <input maxlength="1" type="text" tfInput>
</app-text-field>
<app-text-field [(value)]="year">
  <div class="title">Year</div>
  <input type="text" maxlength="4" tfInput>
</app-text-field>
<app-text-field [(value)]="instructor">
  <div class="title">Instructor</div>
  <input type="text" tfInput>
</app-text-field>
<div class="btn submit">
  Submit
</div>
