<h1>Create a problem</h1>
<app-text-field [title]="'Title'" [(value)]="title" [error]="error">
</app-text-field>

<app-text-field [title]="'School'" [(value)]="school">
</app-text-field>

<app-text-field [title]="'Course Number'" [(value)]="courseNumber">
</app-text-field>

<app-text-field [title]="'Term'" [(value)]="term">
</app-text-field>

<app-text-field [title]="'Year'" [(value)]="year">
</app-text-field>

<app-text-field [title]="'Instructor'" [(value)]="instructor">
</app-text-field>

<app-text-field [multiLine]="true" [title]="'Problem Body'" [(value)]="problemBody">
</app-text-field>

<div class="btn submit">
  Submit
</div>
