<h1>Create a problem</h1>
<form [formGroup]="newProblemForm">
  <app-text-field [formControl]="title" [title]="'Title'" [error]="error">
  </app-text-field>

  <app-text-field [formControl]="school" [title]="'School'" >
  </app-text-field>

  <app-text-field [formControl]="courseNumber" [title]="'Course Number'">
  </app-text-field>

  <app-text-field [formControl]="term" [title]="'Term'">
  </app-text-field>

  <app-text-field [formControl]="year"  [title]="'Year'">
  </app-text-field>

  <app-text-field [formControl]="instructor"  [title]="'Instructor'">
  </app-text-field>

  <app-text-field [formControl]="problemBody"  [multiLine]="true" [title]="'Problem Body'">
  </app-text-field>
  <div class="btn submit">
    Submit
  </div>
</form>
