@import "../../../../shared/diviers"
\:host
  display: flex
  border-bottom: $divider
  padding-bottom: 10px

.location
  flex: 1
  color: gray
  font-size: 16px
.due
  position: relative
  right: 0
  .due-icon
    width: 20px
    height: 20px
    vertical-align: top
  .due-date
    color: gray
    font-size: 16px
    vertical-align: top
    margin-left: 10px
