<app-nav></app-nav>
<div class="main-content" *ngIf="problem">
  <app-breadcrumb [navLocations]="navLocations"></app-breadcrumb>
  <app-tags class="dove-gray" [tags]="tags" ></app-tags>
  <div class="body">
    <app-problem-header [problem]="problem"></app-problem-header>
    <app-problem-body [problemBody]="problem.body" [keywords]="keywords"></app-problem-body>
  </div>
  <ul class="keywords">
    <app-keyword *ngFor="let keyword of getValidKeywords()" [keyword]="keyword">
    </app-keyword>
  </ul>
</div>
